@media screen and (max-width: 1200px) {
	.container {
		width: 100%;
		padding: 0 1rem;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 2.8em;
	}
	h2 {
		font-size: 1.8em;
	}

	.answer-area {
		width: 100%;
	}

	.home section .graphic {
		width: 100%;
		height: 100%;
	}
	header {
		padding: 0.8rem 2rem;
	}
	.alert {
		display: block;
		margin: 2rem 0;
	}
	.action-container {
		flex-direction: column;
	}
	.home section:first-child {
		height: 70vh;
	}
	.name-container {
		width: 100%;
	}
	.voter p {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		font-size: 2.2em;
	}
	.voter p {
		width: 100%;
	}
	h2 {
		font-size: 1em;
	}
	footer {
		flex-direction: column;
		width: 100vw;
	}
	footer p,
	footer a {
		margin: 10px 0;
		text-align: center;
	}
	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 1.4em;
	}
}
